.firstContainer{
  display: flex;
  justify-content: space-between;

}
.mainCConatiner {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.maincCard {
  display: flex;
  flex-direction: column;
}
.Ccontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.cCard {
  margin-top: 3%;
  width: 500px;
  height: 195px;
  display: flex;
  border-radius: 20px;
  margin-left: 3%;
}

.img {
  width: 235%;
  height: 100%;
}
.img img {
  height: 100%;
  width: 100%;
}
.cTitle {
  font-weight: 900;
}

.cButton {
  width: 118px;
  height: 35px;
  cursor: pointer;
}
.cButton:hover {
  color: white;
  background-color: rgb(146, 146, 255);
}

.cText {
  margin-left: 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.cText p {
  color: black;
  font-weight: 700;
  font-size: 11px;
}

.myCart{
  font-size: 44px;
  font-weight: 900;
  position: relative;
  margin-bottom: 5%;
  margin-left: 1%;

}

.break{
  width: 2px;
  height: 55vh;
  background-color: black;
}


@media screen and (max-width: 1200px) and (min-width: 992px) {
 
}
@media screen and (max-width: 992px) and (min-width: 768px){
  
}
@media screen and (max-width: 768px) and (min-width: 600px){
.firstContainer{
  flex-direction: column;
}
.break{
  width: 355px;
  height: 2px;
  margin-bottom: 37px;

}
.cCard{
  margin-bottom: 37px;
}
}

@media screen and (max-width: 992px) and (min-width: 768px){
  .firstContainer{
    flex-direction: column;
  }
  .break{
    width: 355px;
    height: 2px;
    margin-bottom: 37px;
  
  }
  .cCard{
    margin-bottom: 37px;
  }
  .navBar{
    width: 117%;

  }
  
}
@media screen and (max-width: 600px) and (min-width: 430px){
  .firstContainer{
    flex-direction: column;
  }
  .break{
    width: 355px;
    height: 2px;
    margin-bottom: 37px;
  
  }
  .cCard{
    margin-bottom: 37px;
  }
  .navBar{
    width: 117%;

  }
  
}
@media screen and (max-width: 430px){
  .firstContainer{
    flex-direction: column;
  }
  .break{
    width: 355px;
    height: 2px;
    margin-bottom: 37px;
  
  }
  .cCard{
    margin-bottom: 37px;
  }
  .navBar{
    width: 117%;
  
  }
 

}